.reset-password-header{
    background-color: #007bff;
}
.reset-password-container {
    
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
  }
  
  .reset-password-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .card-body{
    background-color: #ffffff;
  }
  .reset-password-form {
    
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .reset-password-input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .reset-password-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .reset-password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .reset-password-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #0056b3;
  }
  
  .reset-password-error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .reset-password-success {
    color: #28a745;
    font-size: 14px;
    margin-bottom: 20px;
  }
  